.avatar {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    border-radius: 50%;
    border: solid 2px #FFAC46;
    background-color: white;
    overflow: hidden;
}

.sm {
    width: 2rem;
    height: 1.75rem;
    padding-top: 0.35rem;
}

.md {
    width: 2.25rem;
    height: 2rem;
    padding-top: 0.55rem;
}

.lg {
    width: 2.25rem;
    height: 2rem;
    padding-top: 0.55rem;
}

.sm.avatar-with-image {
    width: 2rem;
    height: 2rem;
    padding: 0;
}

.md.avatar-with-image {
    width: 2.25rem;
    height: 2.25rem;
    padding: 0;
}

.lg.avatar-with-image {
    width: 5rem;
    height: 5rem;
    padding: 0;
}


.avatar-btn {
    cursor: pointer;
}

.avatar-with-image {
    border: none;
    background: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.avatar-with-image:focus {
    border: none;
}

.avatar--image {
    top: 0;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.sm .avatar--image {
    width: 3rem;
}

.md .avatar--image {
    width: 3.5rem;
}

.lg .avatar--image {
    width: 5rem;
}

.avatar-btn:hover {
    background-color: #FFAC46;
}